<%- include('header'); -%>

<h1>Weather Forecast</h1>
<div class="search_bar">
    <form action="/" method="post">
        <input name="cityNames" 
        type="text"
        placeholder="enter the city names"
        class="box"
        >
        <button type="submit" class="search">search</button>
    </form>
</div>

<%- include('footer'); -%>